<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- My Stylesheet -->
    <link rel="stylesheet" href="./style.css">
    <!-- Font Awesome Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Google Fonts Stylesheet -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Comfortaa&family=Fredoka:wght@300&family=Press+Start+2P&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;1,400&display=swap"
        rel="stylesheet">
    <title>Food & Wine Passport</title>
</head>

<body>
    <center><img src="./assets/foodandwineheader.PNG" width="400px"></center>
    <div class="container">
        <div class="screen">
            <div class="screen__content">

                <form class="login">
                    <div class="login__field">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <input type="text" class="login__input" placeholder="User name / Email">
                    </div>
                    <div class="login__field">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <input type="password" class="login__input" placeholder="Password">
                    </div>
                    <button class="login__submit">
                        <span class="button__text">Log In Now</span>
                        <a href="#" class="button__icon"></a><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </button>

                </form>
                
                <div class="social-login">
                    <h3>Log in via</h3>
                    <div class="social-icons">
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
                    </div>
                    <p class="signup">Don't have an account? <b><a href=#>Sign up</p></b></a>
                </div>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
</body>

</html>